* {
  font-family: 'ubuntu', sans-serif;
  color: #7B8B8E;
}

body {
  margin: 0;
}

.wrap {
  width: 75%;
  margin: auto;
  padding: 0 2%;
  background: #EDEFF0;
  overflow: auto;
}

h2, h4 {
    color: #484F55;
}

h5 {
  margin: 0;
}

h4 {
  margin-bottom: 25px;
  margin-top: 8px;
}

nav {
  box-shadow: 0px 8px 15px -10px #7B8B8E;
  overflow: auto;
  padding: 10px;
}

nav h2 {
  margin: 0;
  float: left;
  line-height: 37px;
}

.navIcons {
  float: right;
  font-size: 2em;
}

.navIcons span {
   color: #bbb;
}

.navIcons span:first-child {
  font-size: 1.5rem;
}

.navIcons span:nth-child(3) {
  padding-right: 10px;
  font-size: 0.5em;
  vertical-align: middle;
  padding-bottom: 5px;
}

.navIcons span:nth-child(4),
.navIcons span:nth-child(5){
  padding: 0 20px;
  border-left: 1px solid #000;
}

.allCourses {
  margin: auto;
  overflow: auto;
}

.course {
  width: 48.5%;
  border-radius: 5px;
  float: left;
  margin-top: 2%;
  background-color: white;
  box-shadow: 0px 2px 0px 0px #DFE1E2;
}

.allCourses .course:nth-child(even) {
  float: right
}

.courseHead {
  overflow: auto;
}

.java, .javaFx {
  background-color: #2C9676;
  border-radius: 5px 5px 0 0;
}

.django {
  background-color: #F092B0;
  border-radius: 5px 5px 0 0;
}

.woo {
  background-color: #838CC7;
  border-radius: 5px 5px 0 0;
}

.courseHead li, .courseHead span {
  color: white;
}

.courseHead span {
  padding: 18px;
  float: right;
  padding-right: 30px;
}

.courseHead li:not(:first-child) {
  font-size: .5rem;
}

.courseHead li {
  padding-right:5px;
  vertical-align: middle;
}

.courseHead li:first-child {
  padding-right: 10px;
  font-size: 1.5rem;
}

.courseHead ul {
  float: left;
  padding-left: 30px;
}

.courseInfo, .courseFoot {
  padding: 30px;
}

.courseFoot {
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 0;
}

.courseFoot span {
  float: right;
  padding: 10px;
  border: 2px solid #EDEFF0;
  border-radius: 50%;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  text-align: right;
  color: #D4D9DD;
}

.courseFoot a {
  line-height: 49px;
  text-decoration: none;
  border: 2px solid #EDEFF0;
  border-radius: 20px;
  padding: 10px 15px;
  margin-right: 10px;
  font-weight: bold;
}

.java + .courseInfo + .courseFoot a:first-child,
.javaFx + .courseInfo + .courseFoot a:first-child{
  color: #2C9676;
}

.django + .courseInfo + .courseFoot a:first-child {
  color: #F092B0;
}

.woo + .courseInfo + .courseFoot a:first-child {
  color: #838CC7;
}

footer {
  margin-top: 30px;
  margin-bottom: 6px;
  border-bottom: 2px solid #DFE1E2;
}
