* {
  font-family: 'ubuntu', sans-serif;
  color: #888;
}
body {
  margin: 0;
}

.wrap {
  width: 75%;
  margin: auto;
  padding: 0 2%;
  background: #ddd;
  overflow: auto;

}

h2, h4 {
    color: #333;
}

h5 {
  margin: 0;
}

h4 {
  margin-bottom: 25px;
  margin-top: 8px;
}

nav {
  box-shadow: 0px 6px 5px -5px rgba(0,0,0,0.75);
  overflow: auto;
  padding: 10px;
}

nav h2 {
  margin: 0;
  float: left;
  line-height: 37px;
}

.navIcons {
  float: right;
  font-size: 2em;
}

.navIcons span {
    color: #bbb;
}

.navIcons span:first-child {
  font-size: 1.5rem;
}

.navIcons span:nth-child(3) {
  padding-right: 10px;
  font-size: 0.5em;
  vertical-align: middle;
  padding-bottom: 5px;
}
.navIcons span:nth-child(4),
.navIcons span:nth-child(5){
  padding: 0 20px;
  border-left: 1px solid #000;
}
.allCourses {
  margin: auto;
  overflow: auto;
}

.course {
  width: 48.5%;
  border-radius: 5px;
  float: left;
  margin-top: 2%;
  background-color: white;
}

.allCourses .course:nth-child(even) {
  float: right
}

.courseHead {
  overflow: auto;
}

.java {
  background-color: #286;
  border-radius: 5px 5px 0 0;
}

.courseHead li, .java span {
  color: white;
}

.courseHead span {
  padding: 18px;
  float: right;
  padding-right: 30px;
}

.courseHead li:nth-child(2), .java li:last-child {
  font-size: .5rem;
}

.courseHead li {
  padding-right:5px;
  vertical-align: middle;
}

.courseHead li:first-child {
  padding-right: 10px;
  font-size: 1.5rem;
}

.courseHead ul {
  float: left;
  padding-left: 30px;
}

.courseInfo, .courseFoot {
  padding: 30px;
}

.courseFoot {
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 0;
}

.courseFoot span {
  float: right;
  padding: 15px;
  border: 2px solid #bbb;
  border-radius: 50%;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  text-align: right;
  color: #bbb;
}

.courseFoot a {
  line-height: 49px;
  text-decoration: none;
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 15px;
  margin-right: 10px;
  font-weight: bold;
}

.courseFoot a:first-child {
  color: #286;
}
